<div class="center jumbotron">
  <h1>Welcome to Sales Management </h1>

  <h2>
    Smarteam | Updating your future
  </h2>

  <%= link_to "Sign In",login_path, class: "btn btn-lg btn-primary" %> 
</div>
