<% provide(:title, @company.name) %>
<h1><%= @company.name %></h1>
<h3><span><%= link_to "Edit this company", edit_company_path %>-<%= link_to "Remove this company", company_path, method: "delete" %></span></h3>