<% provide(:title, @category.name) %>
<h1><%= @category.name %></h1>
<h3><span><%= link_to "Edit this category", edit_category_path %>-<%= link_to "Remove this cateogory", category_path, method: "delete" %></span></h3>